.text-input {
  border: 1px solid wheat;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}
.select {
  border: 1px solid wheat;
  height: 50px;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
