// Colors
$dark-grey: rgba(25, 29, 48, 0.596);
$blue_violet: blueviolet;
//font-size
$font-size-large: 1.9rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
